html,
body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
}

#submitButton {
  z-index: 5 !important;
  width: 100%;
  height: 100%;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
}
